<p style="color: green"><%= notice %></p>

<h1>Public Recipes</h1>

<% @recipes.includes([:user]).each do |recipe| %>
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>By: <%= recipe.user.name %></p>
  
  <% count, total = recipe_price(recipe) %>
  
  <p>Total food Items: <%= count %></p>

  <p>Total price: <%= total %></p>

<% end %>
