<div id="<%= dom_id recipe %>">

  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparion time:</strong>
    <%= recipe.preparion_time %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <% if current_page?(user_recipes_path(recipe.user_id)) %>
    <p>
      <strong>User:</strong>
      <%= @user.name %>
    </p>
  <% end %>

</div>
