<p style="color: green"><%= notice %></p>


<div class= "recipe-show-page">
  <%= render @recipe %>

  <div class="links-recipe-show">
    <%= link_to "Back to recipes", user_recipes_path %>

    <% if current_user.id == @recipe.user_id %>
      <%= link_to "Add ingredient", new_user_recipe_recipe_food_path(current_user.id, @recipe.id) %>
    <% end %>
    
  </div>

  <div class="recipe-foods-table">

    <% if @recipe.recipe_foods.length === 0 %>
      <p>The list of ingredients is empty</p>
    <% else %>

      <div class="table-head">
        <p>Food</p>
        <p>Quantity</p>
        <p>Value</p>
        <% if current_user.id == @recipe.user_id %>
          <p>Actions</p>
        <% end %>
      </div>

      <div class="table-body">
        <% @recipe.recipe_foods.includes([:food]).each do |item| %>
          <p><%= item.food.name %></p>
          <p><%= item.quantity %> <%= item.food.measurement_unit %></p>
          <p><%= item.food.price * item.quantity%></p>
          <% if current_user.id == @recipe.user_id %>
            <% if can? :destroy, item %>
              <%= button_to "Delete",
              user_recipe_recipe_food_path(current_user.id, @recipe.id, @recipe_food.id),
              method: :delete,
              form: { data: { turbo_confirm: 'Are you sure you want to delete this ingredient?' }} 
              %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    <% end %>

  </div>
</div>