<div id="<%= dom_id food %>">
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Measurement unit:</strong>
    <%= food.measurement_unit %>
  </p>

  <p>
    <strong>Unit Price:</strong>
    <%= food.price %>
  </p>

  <% if current_user.id == food.user_id %>
    <p>
      <strong>Actions </strong>
      <%= button_to "Delete", user_food_path(food.user_id, food), method: :delete %>
    </p>
  <% end %>

</div>
