<div class="shopping">
  <h1>Shopping List</h1>

  <div class="shopping-values">
    <p>
      <h3>Amount of food / items to buy: <%= @foods.length %></h3>
    </p>

    <p>
      <h3>Total value of food: <%= @foods.sum{ |food| food.price * food.recipe_foods.sum(:quantity) } %></h3>
    </p>
  </div>


  <div class="recipe-foods-table">
    <div class="shopping-table grey">
      <p>Food</p>
      <p>Quantity</p>
      <p>Price</p>
    </div>
    <% if @foods.length === 0 %>
      <p>No food</p>
    <% else %>
      <% @foods.each do |food| %>
        <div class="shopping-table">
          <p><%= food.name %></p>
          <p><%= food.recipe_foods.sum(:quantity) %></p>
          <p><%= food.price * food.recipe_foods.sum(:quantity) %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


